<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Students Table
            </div>
            <div class="card-body">
                <a routerLink="/students/create">
                    <button class="btn btn-success pull-right mb-2">Create Student</button>
                </a>
                <table class="table table-md">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th>Name</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Faculties</th>
                        <th>Groups</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of students">
                            <td>{{student.id}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.phone}}</td>
                            <td>{{student.faculty}}</td>
                            <td>{{student.group}}</td>
                            <td>
                                <span class="ml-1" (click)="setStudents(student)">
                                  <i style="cursor: pointer; font-size: 17px" class="fa fa-pencil-square-o text-success"
                                     aria-hidden="true"></i>
                                </span>
                                <span class="ml-1" (click)="onRemove(student)">
                                 <i style="cursor: pointer; font-size: 20px" class="fa fa-times text-danger"
                                    aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
