<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form  [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <label class="font-weight-bold" for="exampleFormControlInput1">Name:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" formControlName="name">
                        <div *ngIf="formGroup.get('name').touched && formGroup.get('name').invalid"
                             class="alert alert-danger mt-1 p-2">
                            Name is required
                        </div>
                        <label class="font-weight-bold mt-3" for="exampleFormControlInput2">LastName:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="LastName" formControlName="lastName">
                        <div *ngIf="formGroup.get('lastName').touched && formGroup.get('lastName').invalid"
                             class="alert alert-danger mt-1 p-2">
                            LastName is required
                        </div>
                        <label class="font-weight-bold mt-3" for="exampleFormControlInput3">Email:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Email" formControlName="email">
                        <div *ngIf="formGroup.get('email').touched && formGroup.get('email').pristine"
                             class="alert alert-danger mt-1 p-2">
                            Email is required
                        </div>
                        <div *ngIf="formGroup.get('email').dirty && formGroup.get('email').invalid"
                             class="alert alert-danger mt-1 p-2">
                            Email is invalid
                        </div>
                        <label class="font-weight-bold mt-3" for="exampleFormControlInput4">Phone:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="Phone" formControlName="phone">
                        <div *ngIf="formGroup.get('phone').touched && formGroup.get('phone').invalid"
                             class="alert alert-danger mt-1 p-2">
                            Phone is required
                        </div>
                        <label class="font-weight-bold mt-3" for="exampleFormControlInput5">Faculty:</label>
                        <select class="custom-select" id="exampleFormControlInput5" formControlName="faculty">
                            <option selected></option>
                            <option *ngFor="let faculty of faculties" value="{{faculty.name}}">{{faculty.name}}</option>
                        </select>
                        <div *ngIf="formGroup.get('faculty').touched && formGroup.get('faculty').invalid"
                             class="alert alert-danger mt-1 p-2">
                            Faculty is required
                        </div>
                        <label class="font-weight-bold mt-3" for="exampleFormControlInput6">Group:</label>
                        <select class="custom-select" id="exampleFormControlInput6" formControlName="group">
                            <option selected></option>
                            <option *ngFor="let group of groups" value="{{group.group}}">{{group.group}}</option>
                        </select>
                        <div *ngIf="formGroup.get('group').touched && formGroup.get('group').invalid"
                             class="alert alert-danger mt-1 p-2">
                            Group is required
                        </div>
                        <button routerLink="/students" type="button" class="btn btn-danger pull-right mt-2">Cancel
                        </button>
                        <button type="submit" class="btn btn-success pull-right mt-2 mr-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
